# SPDX-FileCopyrightText: 2014-2025 Sébastien Helleu <flashcode@flashtux.org>
#
# SPDX-License-Identifier: GPL-3.0-or-later

*.pyc
*.pyo
.coverage
.hypothesis/
build/
dist/
msgcheck.egg-info/
nose-*.egg/
