language: python
sudo: false

python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"
  # - "3.7"

cache:
  - pip
  - apt

addons:
  apt:
    packages:
      - gettext
      - aspell
      - aspell-en
      - aspell-fr
      - libenchant-dev

install:
  - pip install -U pylint
  - pip install -Ur requirements.txt

script:
  - pylint --disable=W0511 msgcheck
  - pylint --disable=W0511 tests
  - nosetests
