name: CI

on:
  - push
  - pull_request

jobs:

  build:

    strategy:
      matrix:
        os:
          - ubuntu-20.04
          - ubuntu-18.04
        python-version:
          - "2.7"
          - "3.5"
          - "3.6"
          - "3.7"
          - "3.8"
          - "3.9"
          - "3.10"

    name: Python ${{ matrix.python-version }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    steps:

      - uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          sudo apt-get install gettext aspell aspell-fr enchant
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install flake8 pylint pytest coverage pytest-cov

      - name: Lint with flake8
        run: make flake8

      - name: Lint with pylint
        run: make pylint

      - name: Test with pytest
        run: make test
